<?xml version="1.0"?>
<model>
    <name>QR (Data some Task value)</name>
    <version>1.0</version>
    <sdf version="1.5">qr.sdf</sdf>
    <author>
        <name>Marker Generator script</name>
        <email>marker@generator.sh</email>
    </author>
    <description>
        QR (Data some Task value)
    </description>
</model>
